body {
    min-height: 100vh;

    background:
        radial-gradient(
            circle at 10% 0%,
            rgba(19, 138, 75, 0.10),
            transparent 30%
        ),
        radial-gradient(
            circle at 90% 10%,
            rgba(23, 80, 145, 0.10),
            transparent 30%
        ),
        linear-gradient(
            135deg,
            #f4fbf7 0%,
            #f7faff 50%,
            #ffffff 100%
        ) !important;

    background-attachment: fixed !important;
    color: #173b62;
}